<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A Flask Web Application for practicing flask and python web dev">
    <title>Flask Tutorial {{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='static/favicon.ico')}}" />  
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script language="javascript" src="{{url_for('static', filename='script/script.js')}}"></script>  
</head>
