<nav>
    <div class="nav-wrapper blue lighten-3">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/" class="white-text">Home</a></li>
        <li><a href="/login" class="white-text">Login</a></li>
        <li><a href="/register" class="white-text">Register</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="/" class="white-text">Home</a></li>
          <li><a href="/login" class="white-text">Login</a></li>
          <li><a href="/register" class="white-text">Register</a></li>
      </ul>
    </div>
  </nav>