<!DOCTYPE html>
<html lang="en">
{% include './includes/head.html' %}
<body>
    {% include './includes/header.html' %}

    <main>
        <h1 class="center blue-text text-lighten-3">Operational Semantics</h1>
        <div class="container">
            <div class="container">
                <div class="container">
                        <p class="center blue-text" style="font-size: 16">Equation: {{old}}</p><br>
                        <pre class="blue-text text-lighten-1" style="font-family: 'Roboto'; font-size: 20px">{{data}}</pre>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>