<!DOCTYPE html>
<html lang="en">
{% include './includes/head.html' %}
<body>
    {% include './includes/header.html' %}

    <main>
        <h1 class="center blue-text text-lighten-3">Operational Semantics</h1>
        <div class="container">
            <div class="container">
                <div class="container">
                        <pre class="blue-text text-lighten-3" style="font-family: 'Roboto';">{{data}}</pre>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>